@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@300;400;600&display=swap');

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #1F2933;
  background-color: #ffffff;
}
